<!DOCTYPE html>
{%load static%}
<html lang="en">

<head>
    {{ form.media.css }}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
 
 <!--  Date picker js file /> -->
    <script
        src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"
        integrity="sha256-hlKLmzaRlE8SCJC1Kw8zoUbU8BxA+8kR3gseuKfMjxA="
        crossorigin="anonymous"></script>
<!-- <link href="https://code.jquery.com/ui/1.13.1/themes/black-tie/jquery-ui.css" rel="stylesheet" /> -->
<link href=https://code.jquery.com/ui/1.13.1/themes/pepper-grinder/jquery-ui.css rel="stylesheet"/>

        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
        
        <script type="text/javascript" src="{% static '/examapp/examjs.js'%}">
        </script>
    <link href="{% static '/examapp/examcss.css'%}" rel="stylesheet"/>

    <title>Exam</title>
</head>
<style>
    .url {cursor: url(myBall.cur),auto;}
    .pointer {cursor: pointer;}
</style>
<body>
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Masters
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'listexam'%}">examlist</a>
                    <a class="dropdown-item" href="{% url 'examview'%}">examview</a>
                    <a class="dropdown-item" href="{% url 'CreateSubject'%}">CreateSubject</a>
                    <a class="dropdown-item" href="{% url 'ListSubject'%}">List Subject</a>
                    <a class="dropdown-item" href="{% url 'CreateQuestion'%}">Create Question</a>
                    <a class="dropdown-item" href="{% url 'ListQuestions'%}">List Questions</a>
                    <a class="dropdown-item" href="{% url 'CreateOptions'%}">List Create Options</a>
                    <a class="dropdown-item" href="{% url 'SetQuestions'%}">Set QuestionPaper</a>

                    
    
                        
                    </div>
                </li>
                
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    {%block body_content%}
    {%endblock%}
</body>

</html>